    <!DOCTYPE html>
    <html>
    <head>
        <title>game test2</title>

        {% load static %}
        <script type="text/javascript" src='{% static 'jquery/jquery.js' %}'></script>
        <script type="text/javascript" src='{% static 'EaselJS/lib/easeljs-0.7.1.min.js' %}'></script>

{#        <script src="/static/jquery.js"></script>#}
{#        <script src="/static/easeljs-0.7.1.min.js"></script>#}

        <script>

            var stage, image, fpstext;
            var head,ball,up= 1,right=1;
            var speed=8;

            $(document).ready(function(){



                stage = new createjs.Stage(id("gameCanvas"));
                    //image = new createjs.Bitmap("assets/hill.png");
                    //stage.addChild(image);
                createjs.Ticker.setFPS(50);
                createjs.Ticker.addEventListener("tick", tick);


                //fpstext = new createjs.Text("imran hossain", "20px Arial", "#7a1567");
                //fpstext.x = 0;
                //fpstext.y = 20;
                //stage.addChild(fpstext);

                //ball = drawCircle(100,145,40);
                //stage.addChild(ball)

                head  = drawHead(120,145,50);
                stage.addChild(head);


                //;
                stage.update();
                
                




            });

            function tick() {


                stage.update();
            }

            function id(id) {
                return id === null || id === undefined ? alert("Please provide element id") : document.getElementById(id);
            }


            function drawHead(x,y,r){

                var g = new createjs.Graphics();
                g.setStrokeStyle(1);
                g.beginStroke(createjs.Graphics.getRGB(0,0,0));
                g.drawCircle(0,0,r);

                g.beginStroke(createjs.Graphics.getRGB(0,0,0));
                g.drawCircle(-20,-8,r/6);

                g.beginStroke(createjs.Graphics.getRGB(0,0,0));
                g.drawCircle(20,-8,r/6);

                g.beginStroke(createjs.Graphics.getRGB(0,0,0));
                g.drawCircle(0,14,r/8);

                g.beginStroke(createjs.Graphics.getRGB(0,0,0));
                g.drawEllipse(-10,25,r/2.5,r/5);


                var s = new createjs.Shape(g);
                s.x = x;
                s.y = y;

                return s;

            }

            function drawMan(x,y){

                var head =  drawHead(x,y,50);






            }

        </script>

    </head>
    <body>
    <p>walking man</p>



    <canvas id="gameCanvas" width="900" height="400" style="border: 2px solid;margin-left: 15%"></canvas>

    </body>
    </html>