    <!DOCTYPE html>
    <html>
    <head>
        <title>game test1</title>

         <script src="/static/jquery.js"></script>

        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/geom/Matrix2D.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/geom/Rectangle.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/events/EventDispatcher.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/utils/UID.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/utils/Ticker.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/utils/SpriteSheetUtils.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/display/DisplayObject.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/display/Container.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/display/Stage.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/display/SpriteSheet.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/display/BitmapAnimation.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/display/Graphics.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/display/Bitmap.js"></script>
        <script type="text/javascript" src="http://1lastletter.com/CodeProject/js/easeljs/display/Text.js"></script>

        <script>

            var stage, image, fpstext;
            var head;

            $(document).ready(function(){



                stage = new createjs.Stage(id("gameCanvas"));
                    //image = new createjs.Bitmap("assets/hill.png");
                    //stage.addChild(image);
                createjs.Ticker.setFPS(30);
                createjs.Ticker.addEventListener("tick", tick);


                fpstext = new createjs.Text("imran hossain naba", "20px Arial", "#7a1567");
                fpstext.x = 0;
                fpstext.y = 20;
                stage.addChild(fpstext);

                var head = new createjs.drawCircle(5,5,5);
                stage.addChild(head);
                
                




            });

            function tick() {
                fpstext .x += 10;
                if (fpstext .x > 600)
                    fpstext .x = 0;
                stage.update();
            }

            function id(id) {
                return id === null || id === undefined ? alert("Please provide element id") : document.getElementById(id);
            }

        </script>

    </head>
    <body>
    <p>Trying a game</p>

    <canvas id="gameCanvas" width="600" height="100"></canvas>

    </body>
    </html>